@charset "UTF-8";
@font-face { font-family: 'NIXGONM-Vb'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/NIXGONM-Vb.woff') format('woff'); font-weight: normal; font-style: normal; }

.pagewrap{
	width: 1200px;
    height: auto;
    margin-top:30px; 
    margin-bottom: 30px;
    justify-content: center;
    display: inline;
    align-content: center;
}

.bookwrap{
	/*border:solid red 1px;*/
	margin-bottom: 20px;
	margin-top : 20px;
}

.tborder{
	/* border: solid orange 1px; */
	font-family: 'NIXGONM-Vb';
	font-size: 20px;
	color:black;
	text-align: center;
}

